@font-face {
    font-family: "VCR OSD MONO";
    src: url("../../../public/VCR_OSD_MONO.ttf")
}

.typewriter-content {
    color: #7EB2CD;
    line-height: 1em;
    width: 80%;
    font-size: 800%;
    text-align: left;
    font-family: "VCR OSD MONO", monospace;
    margin-top: 2em;
    margin-left: 0.5em;
    display:inline-block;
    position: absolute
}

.typewriter-content::after{
    content: "_";
    font-size: 100%;
    line-height: 100px;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: #C1C1C1 }
}