@font-face {
    font-family: "VCR OSD MONO";
    src: url("../../../public/VCR_OSD_MONO_1.001.ttf")
}

.typewriter-content {
    color: white;
    line-height: 1em;
    width: 95%;
    font-size: 800%;
    text-align: left;
    font-family: "VCR OSD MONO", monospace;
    margin-top: 2em;
    margin-left: -0.5em;
    display:inline-block;
}

.typewriter-content::after{
    content: "_";
    font-size: 100%;
    line-height: 100px;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: rgba(245, 245, 245) }
}